In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset = pd.read_csv('hour.csv',sep=";")
dataset.head(5)

,instant,day,month,year,season,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1,1,2011,1,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,1,1,2011,1,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,1,1,2011,1,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,1,1,2011,1,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,1,1,2011,1,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [10]:
X=dataset.drop('month',axis=1)
y=dataset.month
y

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
17349    12
17350    12
17351    12
17352    12
17353    12
17354    12
17355    12
17356    12
17357    12
17358    12
17359    12
17360    12
17361    12
17362    12
17363    12
17364    12
17365    12
17366    12
17367    12
17368    12
17369    12
17370    12
17371    12
17372    12
17373    12
17374    12
17375    12
17376    12
17377    12
17378    12
Name: month, Length: 17379, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state = 0) # random_state = 0 behave as "seed" in random value generator 
classifier.fit(X_train, y_train)

c:\users\cansu kaplan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\cansu kaplan\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
y_pred = classifier.predict(X_test)
y_pred

array([ 5, 10, 10, ...,  2,  4,  2], dtype=int64)

In [25]:
result = pd.DataFrame(columns=['target', 'predicted'])
result.target = y_test
result.predicted =y_pred

In [21]:
result.head(10)

       target  predicted
3439        5          5
6542       10         10
15470      10         10
9851        2          2
12640       6          6
1427        3          2
15888      10         11
14772       9          9
15725      10         10
1057        2          2